{% extends "base.html" %}
{% load static extra_tags %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{% url 'index' client.vat client.internal_code %}" class="text-decoration-none" style="color: #E77817">
            Cliente
        </a>
    </li>
    <li class="breadcrumb-item active">Comprobantes</li>

{% endblock breadcrumb %}

{% block content %}

    <div class="text-center">
        <h1 class="my-4">{{ client.name }}</h1>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    DNI / CUIT</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ client.vat }}</div>
                            </div>
                            <!-- <div class="col-auto"> -->
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-person-vcard-fill fa-2x text-gray-300"></i>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Email</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ client.email }}</div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-envelope-fill fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Deuda</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ client.credit }}</div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-currency-dollar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <!--   <div class="col-sm-2">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">DNI / CUIT</div>
                    <div class="card-body">{{ client.vat }}</div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">Email</div>
                    <div class="card-body text-break">{{ client.email }}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">Deuda</div>
                    <div class="card-body">${{ client.credit }}</div>
                </div>
            </div>-->
            <div class="col-sm">
                {% if client.credit %}
                    <a class="btn btn-success" href="{{ payment_url }}">Pagar Saldo</a>
                {% else %}
                    <a class="btn btn-success disabled" href="#">Pagar Saldo</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="table-responsive">
        {% if page_obj %}
        <table class="table mt-4 align-middle">
            <thead>
                <tr>
                    <th scope="col">Tipo y número</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Emisión</th>
                    <th scope="col">Vencimiento</th>
                    <th scope="col">Referencia</th>
                    <th scope="col">A pagar</th>
                    <th scope="col">Pagos</th>
                    <th scope="col">Histórico</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                
                {% for account_movement in page_obj %}
                    <tr>
                        <td>
                            <span style="color: #E77817">{{ account_movement.name }}</span>
                            {% if account_movement.download_url %}
                                <a href="{{ account_movement.download_url }}" class="download" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Ver Factura" target="_blank">
                                    <i class="ms-2 bi bi-eye"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if account_movement.invoice_payment_state == "paid" %}
                                <span class="badge rounded-pill text-bg-success">
                                    <i class="me-1 bi bi-check-circle"></i>
                                    Pagado
                                </span>
                            {% elif account_movement.invoice_payment_state != "paid" and account_movement.invoice_date_due > today %}
                                <span class="badge rounded-pill text-white text-bg-info">
                                    <i class="me-1 bi bi-x-circle"></i>
                                    No pagado
                                </span>
                            {% elif account_movement.invoice_payment_state != "paid" and today > account_movement.invoice_date_due %}
                                <span class="badge rounded-pill text-bg-danger">
                                    <i class="me-1 bi bi-x-circle"></i>
                                    Vencido
                                </span>
                            {% endif %}
                        </td>
                        <td>{{ account_movement.date|format_date }}</td>
                        <td>
                            {% if account_movement.invoice_date_due %}
                                {{ account_movement.invoice_date_due|format_date_due }}
                            {% endif %}
                        </td>
                        {% if account_movement.ref %}
                        <td>{{ account_movement.ref|receipt_ref }}</td>
                        {% elif account_movement.balanceline < 0 %}
                        <td>Pago</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        {% if account_movement.balanceline > 0.0 %}
                            <td>${{ account_movement.debit }}</td>
                            <td> - </td>
                        {% elif account_movement.balanceline < 0.0 %}
                            <td> - </td>
                            <td>${{ account_movement.credit }}</td>
                        {% else %}
                        <td>-</td>
                        <td>-</td>
                        {% endif %}
                        <td>${{ account_movement.historic }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

        <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}    
    <script src="{% static 'odoo/js/tooltips.js' %}"></script>        <div class="row gx-2 pt-2 justify-content-center">
            <div class="col text-center">
                    <a class="btn btn-secondary" href="{% url 'index' client.vat client.internal_code %}">
                        <i class="bi bi-arrow-return-left me-2"></i>Volver
                    </a>
            </div>

{% endblock content %}
