{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "bootstrap.html" %}

        <title>Integral comunicaciones SRL | {{ page }}</title>

        <div class="container-xxl">
            <a href="{% url 'login' %}">
                <img class="my-4 img-fluid" src="{% static 'odoo/images/integral.png' %}" alt="" width="100">
            </a>
                <ol class="breadcrumb m-2">
                    <li class="breadcrumb-item ms-2">
                        <a href="{% url 'login' %}" class="text-decoration-none" style="color: #E77817">
                            <i class="bi bi-house"></i>
                        </a>
                    </li>
                    {% block breadcrumb %}
                    {% endblock breadcrumb %}
                </ol>
            </div>

        <link rel="stylesheet" href="{% static 'odoo/css/sb-admin-2.css' %}">
    </head>

    <body class="d-flex flex-column min-vh-100">
        {% include "messages.html" %}

        <div class="container-xxl">
            {% block content %}
            {% endblock content %}
        </div>
    </body>

    {% include "footer.html" %}
</html>