{% extends "base.html" %}
{% load static widget_tweaks %}

{% block breadcrumb %}

    <li class="breadcrumb-item">
        <a href="{% url 'index' client.vat %}" class="text-decoration-none" style="color: #E77817">Cliente</a>
    </li>
    <li class="breadcrumb-item active">Reclamo</li>

{% endblock breadcrumb %}


{% block content %}

    <div class="card text-center mt-3">
        <div class="card-header">
            <h5 class="my-2">{{ contract.localidad }}</h5>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-text" style="width:40%">E contrato</span>
                        {% if contract.active %}
                            <span class="form-control">Activo<i class="bi bi-check-circle ms-2 text-success"></i></span>
                        {% else %}
                            <span class="form-control">Inactivo<i class="bi bi-x-circle ms-2 text-danger"></i></span>
                        {% endif %}
                    </div>
                    <div class="input-group mt-1">
                        <span class="input-group-text" style="width:40%">E conexión</span>
                        {% if contract.ssid_state == "up" %}
                            <span class="form-control"><i class="bi bi-wifi text-success"></i></span>
                        {% else %}
                            <span class="form-control"><i class="bi bi-wifi-off text-danger"></i></span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm mt-1">
                    <div class="card text-center">
                        <div class="card-header" style="background-color:#e9ecef">Domicilio</div>
                        <div class="card-body">{{ contract.domicilio }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="my-4">Generar un nuevo reclamo</h1>
    
    <form>
        <div class="input-group mb-3">
            <label class="input-group-text">Seleccione un tipo de reclamo</label>
            <select class="form-select" onchange="this.form.submit()" name="claim_type">
                <option disabled selected> --------- </option>
                {% for key, value in reason_choices.items %}
                    <option value="{{ key }}" {% if key == selected_reason %}selected{% endif %}>
                        {{ value }}
                    </option>
                {% endfor %}
            </select>
          </div>
    </form>

    {% if open_ticket %}
        {% if selected_reason == 34 %}
            <div class="d-flex justify-content-between">
                <h4 class="m-2 text-muted">{{ client.name }} ya generó un reclamo</h4>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="m-2 text-muted">Su numero de reclamo es: {{ open_ticket.id }}</h4>
            </div>
        {% elif selected_reason == 36 %}
            <div class="d-flex justify-content-between">
                <h4 class="m-2 text-muted">{{ client.name }} ya generó un cambio de domicilio</h4>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="m-2 text-muted">Su numero de gestión es: {{ open_ticket.id }}</h5>
            </div>
        {% elif selected_reason == 45 %}
            <div class="d-flex justify-content-between">
                <h4 class="m-2 text-muted">{{ client.name }} ya generó un cambio de plan</h4>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="m-2 text-muted">Su numero de gestión es: {{ open_ticket.id }}</h5>
            </div>
        {% elif selected_reason == 56 %}
            <div class="d-flex justify-content-between">
                <h4 class="m-2 text-muted">{{ client.name }} ya generó la baja del servicio</h4>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="m-2 text-muted">su numero de gestión es: {{ open_ticket.id }}</h5>
            </div>
        {% elif selected_reason == 41 %}
            <div class="d-flex justify-content-between">
                <h4 class="m-2 text-muted">{{ client.name }} ya realizó una consulta administrativa</h4>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="m-2 text-muted">su numero de gestión es: {{ open_ticket.id }}</h5>
            </div>
        {% endif %}

        {% if open_ticket.portal_description %}
            <div class="d-flex mb-3 justify-content-between">
                <h5 class="m-2 text-muted">Descripción: {{ open_ticket.portal_description}}</h5>
            </div>
        {% endif %}
    {% endif %}

    {% if form %}
        {% with WIDGET_ERROR_CLASS="is-invalid" %}
            <form method="POST" id="claim_form" enctype="multipart/form-data" autocomplete="off" novalidate>
                {% csrf_token %}

                {% if form.name %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ form.name.label_tag }}</span>
                        {% render_field form.name %}
                        <div class="invalid-feedback">
                            {{ form.name.errors|first }}
                        </div>
                    </div>
                {% endif %}
                {% if form.phone_number %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ form.phone_number.label_tag }}</span>
                        {% render_field form.phone_number %}
                        <div class="invalid-feedback">
                            {{ form.phone_number.errors|first }}
                        </div>
                    </div>
                {% endif %}
                {% if form.email %}
                    <div class="input-group mb-3">
                        <span class="input-group-text">{{ form.email.label_tag }}</span>
                        {% render_field form.email %}
                        <div class="invalid-feedback">
                            {{ form.email.errors|first }}
                        </div>
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <span class="input-group-text">{{ form.description.label_tag }}</span>
                    {% render_field form.description %}
                    <div class="invalid-feedback">
                        {{ form.description.errors|first }}
                    </div>
                </div>
                {% if form.files %}
                    <div class="input-group mb-3">
                        {% render_field form.files %}
                        <div class="invalid-feedback">
                            {{ form.files.errors|first }}
                        </div>
                    </div>
                {% endif %}

                <div class="text-center">
                    <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#claimFormConfirmationModal">
                        Enviar
                    </button>
                </div>
            </form>
        {% endwith %}
    
    {% endif %}

        


  


    <div class="modal fade" id="claimFormConfirmationModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación necesaria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Desea ingresar un ticket de reclamo con la información ingresada?
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary m-3" data-bs-dismiss="modal" form="claim_form">
                </div>
            </div>
        </div>
    </div>

    {% comment %} <div class="modal fade" id="claimInfoFormConfirmationModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación necesaria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Desea añadir la información ingresada?
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary m-3" data-bs-dismiss="modal" form="AddInfoclaimForm">
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <script src="{% static 'odoo/js/tooltips.js' %}"></script>

{% endblock content %}