{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block breadcrumb %}
  <li class="breadcrumb-item">
    <a href="{% url 'index' dni %}" class="text-decoration-none" style="color: #E77817">Cliente</a>
  </li>
  <li class="breadcrumb-item active">Reclamo</li>
{% endblock breadcrumb %}


{% block content %}

    {% include 'messages.html' %}

    <h1 class="my-4">Generar un nuevo reclamo</h1>
    
    <div class="card text-center mt-3">
        <div class="card-header">
            <h5 class="my-2">{{ contract.localidad }}</h5>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-text" style="width:40%">Estado</span>
                        {% if contract.active %}
                            <span class="form-control">Activo<i class="bi bi-check-circle ms-2 text-success"></i></span>
                        {% else %}
                            <span class="form-control">Inactivo<i class="bi bi-x-circle ms-2 text-danger"></i></span>
                        {% endif %}
                    </div>
                    <div class="input-group mt-1">
                        <span class="input-group-text" style="width:40%">Suspendido</span>
                        {% if contract.is_terminated %}
                            <span class="form-control">Si<i class="bi bi-check-circle ms-2 text-success"></i></span>
                        {% else %}
                            <span class="form-control">No<i class="bi bi-x-circle ms-2 text-danger"></i></span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm mt-1">
                    <div class="card text-center">
                        <div class="card-header" style="background-color:#e9ecef">Domicilio</div>
                        <div class="card-body">{{ contract.domicilio }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="border border-dark border-3 my-4">

    <form>
        <select class="form-select" onchange="this.form.submit()" name="reason">
            <option selected disabled>Seleccionar un motivo</option>
            {% for key, value in reason_choices.items %}
                <option value="{{ key }}" {% if key == selected_reason %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </form>

    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form method="POST" id="claimForm" novalidate>
            {% csrf_token %}

            {% render_field form.reason %}

            {{ form.name.label_tag }}
            {% render_field form.name %}
            <div class="invalid-feedback">
                {{ form.name.errors|first }}
            </div>

            {{ form.phone_number.label_tag }}
            {% render_field form.phone_number %}
            <div class="invalid-feedback">
                {{ form.phone_number.errors|first }}
            </div>

            {{ form.email.label_tag }}
            {% render_field form.email %}
            <div class="invalid-feedback">
                {{ form.email.errors|first }}
            </div>

            {{ form.description.label_tag }}
            {% render_field form.description %}
            <div class="invalid-feedback">
                {{ form.description.errors|first }}
            </div>

            {{ form.files.label_tag }}
            {% render_field form.files %}
            <div class="invalid-feedback">
                {{ form.files.errors|first }}
            </div>
        </form>
    {% endwith %}

    <div class="text-center pt-2">
        <a href="{% url 'index' dni %}" class="btn btn-outline-secondary me-1" role="button">
            <i class="bi bi-arrow-return-left me-2"></i>Volver
        </a>
        <button type="button" class="btn btn-outline-primary m-3" data-bs-toggle="modal" data-bs-target="#claimFormConfirmationModal">
                Enviar
        </button>
    </div>


    <div class="modal fade" id="claimFormConfirmationModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación necesaria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Desea ingresar un ticket de reclamo con la información ingresada?
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary m-3" data-bs-dismiss="modal" form="claimForm">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}