<div class="container-fluid mt-auto">
    <footer class="pt-3 my-3 border-top">
        <div class="row mx-auto">
            <div class="col text-end border-end">
                <span class="text-muted">designed by Cosmos © 2024</span>
            </div>

            <ul class="nav col list-unstyled pr-0 align-content-center">
                <li class="ms-3">
                    <a class="text-muted" href="https://www.facebook.com/agenciacosmos/">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.instagram.com/agencia.cosmos/">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="https://www.linkedin.com/company/77382444/">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</div>