{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">Cliente</li>

{% endblock breadcrumb %}

{% block content %}   

    <div class="text-center">
        <h1 class="my-4">{{ client.name }}</h1>
        <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <!--<div class="card-header" style="background-color:#e9ecef">DNI / CUIT</div>-->
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    DNI / CUIT</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ client.vat }}</div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-person-vcard-fill fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Email</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ client.email }}</div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-envelope-fill fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto-center">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Deuda</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">${{ client.credit }}</div>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto-center">
                                    <i class="bi bi-currency-dollar fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="border border-dark border-3 my-4">
    <div class="row">
        <h3 class="my-4">Pago por código QR del monto $ {{ client.credit }}</h3>
        <div style="text-align: center;">
            <img src="{{payment_qr.img}}" alt="qr" width="500" height="500" id="qr">
        </div>
        <div style="text-align: center;">
            <h5 class="my-4">Procesado por |<a href="https://www.naranjax.com/" target="blank"><img src="{% static 'odoo/images/logo-naranja-x.png' %}" alt="qr" width="100px" height="50px"></h5></a>
        </div>
    </div>

</div>

{% endblock content %}