{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}

    <li class="breadcrumb-item active">Cliente</li>

{% endblock breadcrumb %}

{% block content %}

    <div class="text-center">
        <h1 class="my-4">{{ client.name }}</h1>
        <div class="row align-items-center">
            <div class="col-sm-2">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">DNI / CUIT</div>
                    <div class="card-body">{{ client.vat }}</div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">Email</div>
                    <div class="card-body text-break">{{ client.email }}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card text-center">
                    <div class="card-header" style="background-color:#e9ecef">Deuda</div>
                    <div class="card-body">${{ client.credit }}</div>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-outline-primary" href="{% url 'account_movements_list' client.vat %}">Comprobantes</a>
            </div>
        </div>
    </div>
    
    <hr class="border border-dark border-3 my-4">

    {% for contract in contracts_list %}
        <div class="card text-center mt-3">
            <div class="card-header">
                <h5 class="my-2">{{ contract.localidad }}</h5>
            </div>
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-text" style="width:40%">E contrato</span>
                            {% if not contract.is_terminated %}
                                <span class="form-control">Activo<i class="bi bi-check-circle ms-2 text-success"></i></span>
                            {% else %}
                                <span class="form-control">Dado de baja<i class="bi bi-x-circle ms-2 text-danger"></i></span>
                            {% endif %}
                        </div>
                        <div class="input-group mt-1">
                            <span class="input-group-text" style="width:40%">E conexión</span>
                            {% if not contract.is_terminated %}
                                {% if contract.ssid_state == 'up' %}
                                    <span class="form-control"><i class="bi bi-wifi text-success"></i></span>
                                {% else %}
                                    <span class="form-control"><i class="bi bi-wifi-off text-danger"></i></span>
                                {% endif %}
                            {% else %}
                                <span class="form-control"><i class="bi bi-wifi-off text-danger"></i></span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm mt-1">
                        <div class="card text-center">
                            <div class="card-header" style="background-color:#e9ecef">Domicilio</div>
                            <div class="card-body">{{ contract.domicilio }}</div>
                        </div>
                    </div>
                    <div class="col-sm-2 mt-1">
                        {% if contract.active and not contract.is_terminated %}
                            <a class="btn btn-outline-warning" href="{% url 'claim_create' client.vat contract.id %}">Iniciar Reclamo</a>
                        {% elif not contract.is_terminated %}
                            <a class="btn btn-outline-warning disabled" href="#">Iniciar Reclamo</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}