{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "bootstrap.html" %}

        <title>Integral comunicaciones SRL | {{ page }}</title>

        <link rel="stylesheet" href="{% static 'odoo/css/login.css' %}">
    </head>

    <body class="d-flex flex-column vh-100 py-0">
        {% include "messages.html" %}

        <div class="container-fluid my-auto text-center">
            {% with WIDGET_ERROR_CLASS='is-invalid' %}
                <form method="post" class="form-signin" novalidate>
                    {% csrf_token %}

                    <img class="mb-4 img-fluid" src="{% static 'odoo/images/integral.png' %}" alt="" width="200">

                    <p class="h3 m-3 font-weight-normal">Autogestión</p>

                    {% render_field form.dni %}
                    <div class="invalid-feedback">
                        {{ form.dni.errors|first }}
                    </div>  
                    <br>
                    {% render_field form.internal_code %}
                    <div class="invalid-feedback">
                        {{ form.internal_code.errors|first }}
                    </div>

                    <input type="submit" value="Ingresar" class="btn btn-primary m-3">
                </form>

                <div>
                    <span>
                        ¿Problemas para ingresar a su autogestión? <br> haga click <a href="{% url 'login_recovery' %}">aquí</a>.
                    </span>
                </div>
            {% endwith %}
        </div>
        <script>
            (function () {
                let js = document.createElement('script');
                js.type = 'text/javascript';
                js.async = 1;
                js.src = 'https://go.botmaker.com/rest/webchat/p/O87FWHKVLA/init.js';
                document.body.appendChild(js);
            })();
        </script>
    </body>
        
    {% include "footer.html" %}
</html>