{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include 'bootstrap.html' %}

    <title>Cosmos | {{ page }}</title>

    <link rel="stylesheet" href="{% static 'odoo/css/login.css' %}">

</head>

<body class="d-flex flex-column vh-100 py-0">

    {% include 'messages.html' %}

    <div class="container-fluid my-auto text-center">

        {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form method="post" class="form-signin" novalidate>
            {% csrf_token %}

            <img class="mb-4 img-fluid" src="{% static 'odoo/images/integral.png' %}" alt="" width="200">

            <p class="h3 m-3">Recuperación</p>

            <p>Ingrese los siguientes datos para poder revisar su situación. Nos comunicaremos con usted a la brevedad. Muchas gracias!</p>


            {% render_field form.dni_recovery %}
            <div class="invalid-feedback">
                {{ form.dni_recovery.errors|first }}
            </div>

            {% render_field form.client_id %}
            <div class="invalid-feedback">
                {{ form.client_id.errors|first }}
            </div>
            <div class="row gx-2 pt-2 justify-content-center">
                <div class="col-auto">
                    <a class="btn btn-outline-secondary" href="{% url 'login' %}"><i class="bi bi-arrow-return-left me-2"></i>Volver</a>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Enviar" class="btn btn-outline-primary">
                </div>
            </div>
        </form>

        {% endwith %}

    </div>

    {% include 'footer.html' %}

</body>

</html>