{% load static widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include "bootstrap.html" %}

        <title>Integral comunicaciones SRL | {{ page }}</title>

        <link rel="stylesheet" href="{% static 'odoo/css/login.css' %}">
    </head>

    <body class="d-flex flex-column vh-100 py-0">
        {% include "messages.html" %}

        <div class="container-fluid my-auto text-center">
            {% with WIDGET_ERROR_CLASS="is-invalid" %}
                <form method="POST" id="recovery_form" class="form-signin" novalidate>
                    {% csrf_token %}

                    <img class="mb-4 img-fluid" src="{% static 'odoo/images/integral.png' %}" alt="" width="200">

                    <p class="h3 m-3">Recuperación</p>

                    <p>Ingrese los siguientes datos para poder revisar su situación y nos comunicaremos con usted a la brevedad.<br>Muchas gracias!</p>

                    {% render_field form.dni_recovery %}
                    {% if form.dni_recovery.errors %}
                        <div class="invalid-feedback">
                            {{ form.dni_recovery.errors|first }}
                        </div>
                    {% endif %}

                    {% render_field form.client_id %}
                    {% if form.client_id.errors %}
                        <div class="invalid-feedback">
                            {{ form.client_id.errors|first }}
                        </div>
                    {% endif %}

                    {% render_field form.name_recovery %}
                    {% if form.name_recovery.errors %}
                        <div class="invalid-feedback">
                            {{ form.name_recovery.errors|first }}
                        </div>
                    {% endif %}

                    {% render_field form.phone_recovery %}
                    {% if form.phone_recovery.errors %}
                        <div class="invalid-feedback">
                            {{ form.phone_recovery.errors|first }}
                        </div>
                    {% endif %}

                    {% render_field form.email_recovery %}
                    {% if form.email_recovery.errors %}
                        <div class="invalid-feedback">
                            {{ form.email_recovery.errors|first }}
                        </div>
                    {% endif %}
                    
                    {% render_field form.comments %}
                    {% if form.comments.errors %}
                        <div class="invalid-feedback">
                            {{ form.comments.errors|first }}
                        </div>
                    {% endif %}
                </form>
            {% endwith %}

            <div class="row gx-2 pt-2 justify-content-center">
                <div class="col text-end">
                    <a class="btn btn-secondary" href="{% url 'login' %}">
                        <i class="bi bi-arrow-return-left me-2"></i>Volver
                    </a>
                </div>
                <div class="col text-start">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recoveryModal">Enviar</button>
                </div>
            </div>
        </div>
    </body>

    <div class="modal fade" id="recoveryModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación necesaria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Desea enviar la solicitud con la información ingresada?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" form="recovery_form">Confirmar</button>
                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
</html>